html {
  overflow: hidden;
  font-family: 'Monaco';
}

.CodeMirror {
  height: 100%;
}

html,
body,
.container,
#editor,
#result {
  height: 100%;
}

#editor,
#result {
  width: 50%;
}

.container {
  display: flex;
  justify-content: space-between;
}

#result {
  font-size: 12px;
  overflow: scroll;
}

#result abbr,
#result span {
  display: inline-block;
  width: 200px;
}

#result li {
  cursor: pointer;
}

#result li:hover {
  background: #eee;
}

#result .string {
  color: #a31515;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#result .error {
  color: red;
}

.inlineMark {
  background: #eee;
}
