.node rect,
.node circle,
.node ellipse,
.node polygon {
  stroke: #333;
  fill: none;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

.automata-view {
  border: 1px solid #eee;
}
